<nav>
    <div class="side-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A Ritwik site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="blogs/newblogs/create">New Blog</a></li>
    </ul>
</nav>